.coinPage {
  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100vw;
}

.coinPage_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 700px;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 20px;
}

.coinPage_info h1 {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff960b;
  background-color: transparent;
}

.coinPage_icon {
  height: 150px;
  margin: 30px 0px 30px 0px;
  background-color: transparent;
}

.coinPage_data {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 5px 0px 5px 0px;
  background-color: transparent;
}

.coinPage_row {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  margin: 5px 0px 5px 0px;
  background-color: transparent;
}

.coinPage_rowData {
  color: white;
  font-size: 25px;
  font-weight: 400;
  background-color: transparent;
}

.coinPage_rowHeader {
  width: 170px;
  font-size: 40px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  background-color: transparent;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.coinPage_button {
  padding: 15px;
  background-color: #ff960b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;

}

.coinPage_button:active {
  text-decoration: none;
}

.coinPage_button:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}
