.trade_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(41,65,113);
    background: linear-gradient(0deg, rgba(41,65,113,1) 20%, rgba(119,119,186,1) 51%, rgba(230,224,255,1) 100%);
  }
  
  .header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .header_container h1 {
    color: black;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  .header_container input {
    padding: 5px 10px 5px 10px;
    width: 280px;
    height: 40px;
    background-color: #ff960b;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color:  #fff;
    font-weight: 500;
    font-size: 15px;
  }
  
  .search_button {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .search_button img {
    height: 45px;
    margin-left: 30px;
    cursor: pointer;
  }
  
  .search_button img:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
  }
  
  ::placeholder {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .header_container input:focus {
    outline: none;
    border-bottom: solid #def2f1 2px;
    transform: scale(1.05);
  }
  
  .header_container input:hover {
    transform: scale(1.05);
    transition: all ease-in-out 0.2s;
  }
  
  .coin_container {
    display: flex;
    flex-direction: column;
  }
  
  .loadingMssg {
    color: #ff960b;
  } 
  
  .fa-solid{
    font-size: 20px;
    margin-left: 18px;
  } 

  .back{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #ff960b;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }