.home_content {
    width: 100%;
    height: 100vh;
    background-image: url(../../images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
}

.content {
    position: absolute;
    top: 25%;
}

.content h1 {
    display: grid;
    font-size: 88px;
    margin-bottom: 15px;
}

.content h1 span {
    color: #ff960b;
}

.content p {
    line-height: 22px;
    font-size: 14px;
}

.content .trade {
    display: inline-block;
    margin-top: 30px;
    background: #ff960b;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}